# Poetry-specific
.venv/
venv/
**/__pycache__/
*.pyc
*.pyo
*.egg
.eggs/
dist/
build/
sdist/
*.whl
poetry.lock

# OS-specific
.DS_Store  # macOS
Thumbs.db   # Windows
ehthumbs.db # Windows

# Editor/IDE-specific
.idea/      # IntelliJ IDEA
*.swp       # Vim swap files
*~          # Backup files
*.bak
*.tmp
*.log

# Temporary files
tmp/
temp/
TEMP/

# Secrets (VERY IMPORTANT! Never commit secrets!)
*.key
*.pem
credentials.json  # Пример файла с ключами

# Other
*.orig

# Example of a folder to ignore (if it contains generated data)
# data/

# Logs
*.log
logs/

# VS Code specific - optional, but often useful
.vscode/
